@model ReadPostViewModel


<div class="w-full mb-4 rounded-xl bg-white p-5 shadow">
    <div>
        @if(Model.Header != null)
        {
            <div class="mb-2">
                <div class="leading-5 font-semibold text-sm">
                    @if(Model.ActivityType == ActivityType.Bookmark)
                    {
                        <div class="flex items-center">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1 text-green-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M16.5 3.75V16.5L12 14.25 7.5 16.5V3.75m9 0H18A2.25 2.25 0 0120.25 6v12A2.25 2.25 0 0118 20.25H6A2.25 2.25 0 013.75 18V6A2.25 2.25 0 016 3.75h1.5m9 0h-9" />
                            </svg>
                            <span>@Model.Header</span>
                        </div>
                    }
                    else if(Model.ActivityType == ActivityType.Comment)
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-username="@Model.ActivityUserName" class="hover:underline">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1 text-gray-600">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M12 20.25c4.97 0 9-3.694 9-8.25s-4.03-8.25-9-8.25S3 7.444 3 12c0 2.104.859 4.023 2.273 5.48.432.447.74 1.04.586 1.641a4.483 4.483 0 01-.923 1.785A5.969 5.969 0 006 21c1.282 0 2.47-.402 3.445-1.087.81.22 1.668.337 2.555.337z" />
                                </svg>
                                <span>@Model.Header</span>
                            </div>
                        </a>
                    }
                    else if(Model.ActivityType == ActivityType.Like)
                    {
                        <a asp-controller="User" asp-action="Index" asp-route-username="@Model.ActivityUserName" class="hover:underline">
                            <div class="flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-1 text-red-600">
                                    <path d="M11.645 20.91l-.007-.003-.022-.012a15.247 15.247 0 01-.383-.218 25.18 25.18 0 01-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0112 5.052 5.5 5.5 0 0116.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 01-4.244 3.17 15.247 15.247 0 01-.383.219l-.022.012-.007.004-.003.001a.752.752 0 01-.704 0l-.003-.001z" />
                                </svg>

                                <span>@Model.Header</span>
                            </div>
                        </a>
                    }
                </div>
            </div>
        }
        <!-- Header -->
        <div class="w-full flex">
            <img class="block max-w-[50px] max-h-[50px] w-auto h-auto rounded-lg my-auto mr-3" src="https://picsum.photos/600/600" alt="">
            <div>
                 <a asp-controller="User" asp-action="Index" asp-route-username="@Model.User.UserName" class="hover:underline">
                    <div class="flex items-center">
                        <span class="font-semibold">@Model.User.DisplayName</span>
                        @if (Model.User.Verified)
                        {
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                                <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                            </svg>
                        }

                    </div>
                </a>
                <div class="text-sm text-gray-600 flex items-center">
                    <span>@@@Model.User.UserName</span>
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-3 h-4">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M18 12H6" />
                    </svg>

                    <span>@Model.PostCreated</span></div>
            </div>
        </div>
        <!-- Content -->
        <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">
            <div class="w-full rounded-lg my-4 hover:bg-gray-100 hover:rounded">
                <!-- <img class="mx-auto" src="https://picsum.photos/500/500" alt=""> -->
                <div class="whitespace-pre-line">@Html.Raw(Model.Text)</div>
            </div>
        </a>

        <!-- Footer -->
        @if(Model.ActivityType == ActivityType.New)
        {
            @await Component.InvokeAsync("PostReactions", new {postId = Model.Id})
        }

        @if (Model.ActivityType == ActivityType.Comment)
        {
            @if(Model.Comment != null)
            {
                var comment = Model.Comment;

                <div class="w-full mb-4 rounded-xl bg-white px-5 py-5 border border-gray-200 shadow-lg">
                    <div>
                        <div class="w-full flex mb-2">
                            <img class="block max-w-[50px] max-h-[50px] w-auto h-auto rounded-lg my-auto mr-3" src="https://picsum.photos/600/600" alt="">
                            <div>
                                <a asp-controller="User" asp-action="Index" asp-route-username="comment.User.UserName" class="hover:underline">
                                    <div class="flex items-center">
                                        <span class="font-semibold">@comment.User.DisplayName</span>
                                        @if (comment.User.Verified)
                                        {
                                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                                                <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                                            </svg>
                                        }

                                    </div>
                                </a>
                                <div class="text-sm text-gray-600"><span>@@@comment.User.UserName</span></div>
                            </div>
                        </div>
                        <div class="w-full rounded-lg my-1">                            
                            <div>@comment.Text</div>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>