@model ReadPostViewModel


<div class="w-full mb-4 rounded-xl bg-white p-5 shadow">
    <div>
        @if(Model.Header != null)
        {
            <div class="mb-2">
                <span class="leading-5 font-semibold text-sm"><i class="bi bi-bookmark-check align-top mr-1"></i>@Model.Header</span>
            </div>
        }
        <!-- Header -->
        <div class="w-full flex">
            <img class="block max-w-[50px] max-h-[50px] w-auto h-auto rounded-lg my-auto mr-3" src="https://picsum.photos/600/600" alt="">
            <div>
                 <a asp-controller="User" asp-action="Index" asp-route-username="@Model.User.UserName" class="hover:underline">
                    <div>
                        <span class="font-semibold">@Model.User.DisplayName</span>
                        @if (Model.User.Verified)
                        {
                            <i class="bi bi-patch-check-fill text-orange-400 align-[.125rem] ml-1"></i>
                        }

                    </div>
                </a>
                <div class="text-sm text-gray-600"><span>@@@Model.User.UserName</span><i class="bi bi-dot"></i><span>@Model.Created</span></div>
            </div>
        </div>
        <!-- Content -->
        <a asp-controller="Post" asp-action="Index" asp-route-id="@Model.Id">
            <div class="w-full rounded-lg my-4 hover:bg-gray-100 hover:rounded">
                <!-- <img class="mx-auto" src="https://picsum.photos/500/500" alt=""> -->
                <div>@Model.Text</div>
            </div>
        </a>

        <!-- Footer -->
        <div class="w-full mx-auto">
            <!-- <ul class="grid grid-cols-6 justify-items-start"> -->
            <ul class="flex justify-start leading-5">
                <li><span class="hover:font-bold mr-16"><a href="#"><i class="bi bi-chat p-1"></i><span class="text-sm">98</span></a></span></li>
                <li><span class="hover:font-bold mr-16"><a href="#"><i class="bi bi-arrow-repeat p-1"></i><span class="text-sm">13</span></a></span></li>
                <li><span class="hover:font-bold mr-16"><a href="#"><i class="bi bi-heart p-1"></i><span class="text-sm">18</span></a></span></li>
                <li><span class="hover:font-bold mr-16"><a href="#"><i class="bi bi-bookmark p-1"></i><span class="text-sm">2</span></a></span></li>
                <li><span class="hover:font-bold mr-16"><a href="#"><i class="bi bi-share p-1"></i></a></span></li>
                <li><span class="hover:font-bold"><a href="#"><i class="bi bi-three-dots"></i></a></span></li>
            </ul>
        </div>
    </div>
</div>