@model ReadReactionFormViewModel

<li class="w-32">
    <form id="likeForm" method="post" asp-controller="Reaction" asp-action="@Model.ReactionAction" asp-route-postId="@Model.PostId">
        <button class="mr-2" type="submit">
            <i class="@Model.ReactionIcon"></i>
        </button>

        <a asp-controller="Home" asp-action="Index" class="hover:underline">
            @if (Model.DisplayCount && Model.ReactionCount > 0)
            {
                <span class="text-sm">@Model.ReactionCount @Model.ReactionType</span>
            }
        </a>
    </form>
</li>
