@model ReadReactionFormViewModel

<li class="w-32">
    <div class="flex justify-center">
        <form id="likeForm" method="post" asp-controller="Reaction" asp-action="@Model.ReactionAction" asp-route-postId="@Model.PostId">
            <button class="mr-2" type="submit">
                <i class="@Model.ReactionIcon"></i>
            </button>
        </form>
    
        @if (Model.AllowListLink)
        {
            <a asp-controller="Reaction" asp-action="@Model.ReactionListLink" asp-route-postId="@Model.PostId" class="hover:underline">
                @if (Model.DisplayCount && Model.ReactionCount > 0)
                {
                    <span class="text-sm">@Model.ReactionCount @Model.ReactionType</span>
                }
            </a>
        }
        else
        {
            @if (Model.DisplayCount && Model.ReactionCount > 0)
            {
                <span class="text-sm">@Model.ReactionCount @Model.ReactionType</span>
            }
        }
    </div>
</li>
