@model DisplayFollowerFollowingViewModel

<div class="w-full mb-4 rounded-xl bg-white px-5 py-5 shadow">
    <div>
        <div class="w-full flex mb-2">
            <img class="block max-w-[50px] max-h-[50px] w-auto h-auto rounded-lg my-auto mr-3" src="https://picsum.photos/600/600" alt="">
            <div>
                <a asp-controller="User" asp-action="Index" asp-route-username="@Model.User.UserName" class="hover:underline">
                    <div>
                        <span class="font-semibold">@Model.User.DisplayName</span>
                        @if (Model.User.Verified)
                        {
                            <i class="bi bi-patch-check-fill text-orange-400 align-[.125rem] ml-1"></i>
                        }

                    </div>
                </a>
                <div class="text-sm text-gray-600"><span>@@@Model.User.UserName</span></div>
            </div>
        </div>
    </div>
</div>

<div class="w-full mb-4 rounded-xl bg-white px-5 py-2 shadow">
    <div class="w-full rounded-lg">
        @if (Model.Users.Count() > 0)
        {
            <p class="text-center">@Model.User.DisplayName is following</p>
        }
        else
        {
            <p class="text-center">@Model.User.DisplayName is not following anyone</p>
        }
    </div>
</div>

@foreach (var user in Model.Users)
{
    <div class="w-full mb-4 rounded-xl bg-white px-5 py-1 shadow">
        <div class="w-full rounded-lg my-4">
            <div class="w-full flex">
                <img class="block max-w-[50px] max-h-[50px] w-auto h-auto rounded-lg my-auto mr-3" src="https://picsum.photos/600/600" alt="">
                <div>
                    <a asp-controller="User" asp-action="Index" asp-route-username="@user.UserName" class="hover:underline">
                        <div>
                            <span class="font-semibold">@user.DisplayName</span>
                            @if (user.Verified)
                            {
                                <i class="bi bi-patch-check-fill text-orange-400 align-[.125rem] ml-1"></i>
                            }
                        </div>
                    </a>
                    <div class="text-sm text-gray-600"><span>@@@user.UserName</span></div>
                </div>
            </div>
        </div>
    </div>
}
