@model ReadUserViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = $"{Model.DisplayName} (@{Model.UserName}) / Connectio";
    ViewData["ActiveNavigationPage"] = ActiveNavigationPage.Profile;
}

<div class="w-full bg-white rounded-lg shadow mb-4">
    <img class="object-cover h-56 w-full rounded-t-lg" src="https://picsum.photos/1600/600" alt="">
    <div class="flex justify-between">
        <img class="block max-w-[180px] max-h-[180px] w-auto h-auto rounded-lg my-auto border-solid border-4 border-white -mt-24 ml-5" src="https://picsum.photos/600/600" alt="">
        
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="my-auto mr-5">

                @if(UserManager.GetUserName(User) == Model.UserName)
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="block rounded-full bg-orange-400 p-3 w-40 font-semibold text-white text-center hover:bg-orange-500">Edit</a>
                }
                else
                {
                    @await Component.InvokeAsync("Follow", new {followingUsername = Model.UserName})
                }
            </div>
        }
       
    </div>
    <div class="w-full p-5 space-y-4">
        <!-- header -->
        <div>
            <div class="flex items-center">
                <span class="font-bold text-lg">@Model.DisplayName </span>
                @if (Model.Verified)
                {
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 ml-1">
                        <path fill-rule="evenodd" d="M8.603 3.799A4.49 4.49 0 0112 2.25c1.357 0 2.573.6 3.397 1.549a4.49 4.49 0 013.498 1.307 4.491 4.491 0 011.307 3.497A4.49 4.49 0 0121.75 12a4.49 4.49 0 01-1.549 3.397 4.491 4.491 0 01-1.307 3.497 4.491 4.491 0 01-3.497 1.307A4.49 4.49 0 0112 21.75a4.49 4.49 0 01-3.397-1.549 4.49 4.49 0 01-3.498-1.306 4.491 4.491 0 01-1.307-3.498A4.49 4.49 0 012.25 12c0-1.357.6-2.573 1.549-3.397a4.49 4.49 0 011.307-3.497 4.49 4.49 0 013.497-1.307zm7.007 6.387a.75.75 0 10-1.22-.872l-3.236 4.53L9.53 12.22a.75.75 0 00-1.06 1.06l2.25 2.25a.75.75 0 001.14-.094l3.75-5.25z" clip-rule="evenodd" />
                    </svg>
                }
            </div>
            <div class="text-sm text-gray-600"><span>@@@Model.UserName</span></div>
        </div>

        <!-- bio -->
        <div>
            <p class="font-normal">
                @Model.Description
            </p>
        </div>

        <!-- links -->
        <div class="text-gray-500 text-base flex">            
            
            @if(Model.Location != null)
            {
                <div class="flex items-center mr-5">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z" />
                        <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z" />
                    </svg>
                    <span>@Model.Location</span>
                </div>
            }

            @if (Model.Url != null)
            {
                <div class="flex items-center mr-5">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244" />
                    </svg>

                    <span><a href="@Model.Url" class="text-blue-400 hover:underline">@Model.Url</a></span>
                </div>
            }

            @if (Model.Created != null)
            {
                <div class="flex items-center mr-5">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-1">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M6.75 3v2.25M17.25 3v2.25M3 18.75V7.5a2.25 2.25 0 012.25-2.25h13.5A2.25 2.25 0 0121 7.5v11.25m-18 0A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75m-18 0v-7.5A2.25 2.25 0 015.25 9h13.5A2.25 2.25 0 0121 11.25v7.5" />
                    </svg>
                    <span>@Model.Location</span>
                </div>
            }
            
        </div>

        <!-- stats -->
        <div>
            <ul class="flex justify-start">
                <li><a asp-controller="User" asp-action="Following" asp-route-username="@Model.UserName" class="hover:underline"><span class="font-bold">@Model.FollowingCount</span> Following</a></li>
                <li><a asp-controller="User" asp-action="Followers"  asp-route-username="@Model.UserName" class="hover:underline pl-2"> <span class="font-bold">@Model.FollowersCount</span> Followers</a></li>
            </ul>
        </div>
    </div>
</div>

@foreach (var post in Model.Posts)
{
    <partial name="_PostCard" model="post" />
}