@model ReadUserViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = $"{Model.DisplayName} (@{Model.UserName}) / Connectio";
    ViewData["ActiveNavigationPage"] = ActiveNavigationPage.Profile;
}

<div class="w-full bg-white rounded-lg shadow mb-4">
    <img class="object-cover h-56 w-full rounded-t-lg" src="https://picsum.photos/1600/600" alt="">
    <div class="flex justify-between">
        <img class="block max-w-[180px] max-h-[180px] w-auto h-auto rounded-lg my-auto border-solid border-4 border-white -mt-24 ml-5" src="https://picsum.photos/600/600" alt="">
        
        @if (SignInManager.IsSignedIn(User))
        {
            <div class="my-auto mr-5">

                @if(UserManager.GetUserName(User) == Model.UserName)
                {
                    <a asp-area="Identity" asp-page="/Account/Manage/Index" class="block rounded-full bg-orange-400 p-3 w-40 font-semibold text-white text-center hover:bg-orange-500">Edit</a>
                }
                else
                {
                    @await Component.InvokeAsync("Follow", new {followingUsername = Model.UserName})
                }
            </div>
        }
       
    </div>
    <div class="w-full p-5 space-y-4">
        <!-- header -->
        <div>
            <div>
                <span class="font-bold text-lg">@Model.DisplayName </span>
                @if (Model.Verified)
                {
                    <i class="bi bi-patch-check-fill text-orange-400 align-top ml-1"></i>
                }
            </div>
            <div class="text-sm text-gray-600"><span>@@@Model.UserName</span></div>
        </div>

        <!-- bio -->
        <div>
            <p class="font-normal">
                @Model.Description
            </p>
        </div>

        <!-- links -->
        <div class="text-gray-500 text-base">            
            <span class="pr-3 leading-5 hidden"><i class="bi bi-briefcase align-top p-1"></i>Not Implemented</span>
            
            @if(Model.Location != null)
            {
                <span class="pr-3 leading-5"><i class="bi bi-geo-alt align-top p-1"></i>@Model.Location</span>    
            }

            @if (Model.Url != null)
            {
                <span class="pr-3 leading-5"><i class="bi bi-link-45deg align-top p-1"></i><a class="hover:underline text-blue-400" href="@Model.Url">@Model.Url</a></span>
            }

            @if (Model.Created != null)
            {
                <span class="leading-5"><i class="bi bi-calendar align-top p-1"></i>Joined @Model.Created</span>
            }
            
        </div>

        <!-- stats -->
        <div>
            <ul class="flex justify-start">
                <li><a asp-controller="User" asp-action="GetFollowings" asp-route-username="@Model.UserName" class="hover:underline"><span class="font-bold">@Model.FollowingCount</span> Following</a></li>
                <li><a asp-controller="User" asp-action="GetFollowers"  asp-route-username="@Model.UserName" class="hover:underline pl-2"> <span class="font-bold">@Model.FollowersCount</span> Followers</a></li>
            </ul>
        </div>
    </div>
</div>

@foreach (var post in Model.Posts)
{
    <partial name="_PostCard" model="post" />
}